In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set_style("whitegrid")
from pylab import figure, axes, pie, title, savefig

In [2]:
JR_2013 = pd.read_csv('NHIS_OPEN_T20_2013.csv', encoding='CP949')
JR_2014 = pd.read_csv('NHIS_OPEN_T20_2014.csv', encoding='CP949')
JR_2015 = pd.read_csv('NHIS_OPEN_T20_2015.csv', encoding='CP949')
JR_2010_2015 = pd.concat([JR_2013, JR_2014, JR_2015])
JR_2010_2015.head()

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2013,287350,1,2,9,11,20131212,3,14,L033,R195,1,1,15,13190,3900,9290,4,20151220
1,2013,96615,2,1,11,11,20131227,3,14,L259,NaN,1,1,15,13190,3900,9290,4,20151220
2,2013,96615,3,1,11,11,20131231,3,14,L259,NaN,1,1,15,9430,2800,6630,4,20151220
3,2013,295197,4,2,4,11,20131227,3,14,L259,NaN,1,1,15,13190,3900,9290,1,20151220
4,2013,586622,5,1,16,11,20131210,3,14,N408,NaN,1,1,15,9430,1500,7930,30,20151220

In [3]:
JR_2010_2015 = JR_2010_2015[['요양개시일자', '주상병코드','시도코드']]
JR_2010_2015.head()

            요양개시일자 주상병코드  시도코드
0         20131212  L033    11
1         20131227  L259    11
2         20131231  L259    11
3         20131227  L259    11
4         20131210  N408    11
5         20131231  N408    11
6         20131211  J340    29
7         20131223  J039    29
8         20131202  J209    29
9         20131213  J209    29
10        20131217  J209    29
11        20131205  J039    29
12        20131226  J039    29
13        20131224  R040    29
14        20131219  J039    46
15        20131214  H603    29
16        20131224  J039    29
17        20131205  J039    29
18        20131212  H603    29
19        20131209  J039    29
20        20131212  J340    29
21        20131224  J039    29
22        20131202  J209    29
23        20131217  J340    29
24        20131223  J039    29
25        20131227  J039    29
26        20131210  J340    29
27        20131224  J039    29
28        20131209  J039    29
29        20131207  J039    29
...            ...   ...   ...
11231900  20151231  J343    11
11231901  20151201  J040    41
11231902  20151204  J343    41
11231903  20151229  K120    41
11231904  20151216  J040    41
11231905  20151218  J340    41
11231906  20151228  J320    11
11231907  20151223  J040    11
11231908  20151201  J340    11
11231909  20151205  J340    11
11231910  20151221  J040    41
11231911  20151223  J040    41
11231912  20151223  H741    41
11231913  20151228  J040    41
11231914  20151215  K120    11
11231915  20151203  J340    45
11231916  20151201  J040    11
11231917  20151207  K120    41
11231918  20151209  K120    41
11231919  20151217  H603    11
11231920  20151230  J320    11
11231921  20151201  B351    11
11231922  20151229  B351    11
11231923  20151226  B351    41
11231924  20151215  B351    41
11231925  20151216  N760    11
11231926  20151223  L600    11
11231927  20151231  B351    11
11231928  20151212  B351    11
11231929  20151230  B351    11

[33895964 rows x 3 columns]

In [4]:
JR_2010_2015['요양개시일자'] = pd.to_datetime(JR_2010_2015['요양개시일자'], format = '%Y%m%d', errors = 'coerce')
JR_2010_2015 = JR_2010_2015[JR_2010_2015['시도코드'] == 41]
J0_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('J0')]
J2_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('J2')]
J3_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('J3')]
J0_JR_2010_2015_code1_ct = J0_JR_2010_2015_code1['요양개시일자'].groupby(J0_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
J2_JR_2010_2015_code1_ct = J2_JR_2010_2015_code1['요양개시일자'].groupby(J2_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
J3_JR_2010_2015_code1_ct = J3_JR_2010_2015_code1['요양개시일자'].groupby(J3_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')

In [5]:
J0_JR_2010_2015_code1_ct = pd.DataFrame(J0_JR_2010_2015_code1_ct)
J2_JR_2010_2015_code1_ct = pd.DataFrame(J2_JR_2010_2015_code1_ct)
J3_JR_2010_2015_code1_ct = pd.DataFrame(J3_JR_2010_2015_code1_ct)
J0_JR_2010_2015_code1_ct = J0_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
J0_JR_2010_2015_code1_ct = J0_JR_2010_2015_code1_ct.reset_index()
J0_JR_2010_2015_code1_ct = J0_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})
J2_JR_2010_2015_code1_ct = J2_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
J2_JR_2010_2015_code1_ct = J2_JR_2010_2015_code1_ct.reset_index()
J2_JR_2010_2015_code1_ct = J2_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})
J3_JR_2010_2015_code1_ct = J3_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
J3_JR_2010_2015_code1_ct = J3_JR_2010_2015_code1_ct.reset_index()
J3_JR_2010_2015_code1_ct = J3_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})

In [6]:
J_JR_2010_2015_code1_ct = pd.concat([J0_JR_2010_2015_code1_ct, J2_JR_2010_2015_code1_ct['Total_patients'], J3_JR_2010_2015_code1_ct['Total_patients']], axis = 1)
J_JR_2010_2015_code1_ct['First_Total_patients']= J_JR_2010_2015_code1_ct.loc[0:11].sum(axis=1)
J_JR_2010_2015_code1_ct = J_JR_2010_2015_code1_ct[['Month', 'First_Total_patients']]
J_JR_2010_2015_code1_ct

    Month  First_Total_patients
0       1                167777
1       2                181281
2       3                191493
3       4                190084
4       5                160901
5       6                117286
6       7                107894
7       8                110916
8       9                169674
9      10                177850
10     11                188444
11     12                188178

In [7]:
f, ax = plt.subplots(figsize = (10, 15))

# plot the total treat_kind 1
sns.barplot(x = 'Month', y = 'First_Total_patients', data = J_JR_2010_2015_code1_ct)
plt.savefig('감기환자 월별 이용 인원.png', dpi=1000)

In [8]:
JR_2010_2015['요양개시일자'] = pd.to_datetime(JR_2010_2015['요양개시일자'], format = '%Y%m%d', errors = 'coerce')
JR_2010_2015 = JR_2010_2015[JR_2010_2015['시도코드'] == 41]
K2_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('K2')]
K2_JR_2010_2015_code1_ct = K2_JR_2010_2015_code1['요양개시일자'].groupby(K2_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
K2_JR_2010_2015_code1_ct = pd.DataFrame(K2_JR_2010_2015_code1_ct)
K2_JR_2010_2015_code1_ct = K2_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
K2_JR_2010_2015_code1_ct = K2_JR_2010_2015_code1_ct.reset_index()
K2_JR_2010_2015_code1_ct = K2_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
f, ax = plt.subplots(figsize = (10, 15))

# plot the total treat_kind 1
sns.barplot(x = 'Month', y = 'Total_patients', data = K2_JR_2010_2015_code1_ct)
plt.savefig('식도염환자 월별 이용 인원.png', dpi=1000)

In [10]:
JR_2010_2015['요양개시일자'] = pd.to_datetime(JR_2010_2015['요양개시일자'], format = '%Y%m%d', errors = 'coerce')
JR_2010_2015 = JR_2010_2015[JR_2010_2015['시도코드'] == 41]
M1_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('M1')]
M1_JR_2010_2015_code1_ct = M1_JR_2010_2015_code1['요양개시일자'].groupby(M1_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
M1_JR_2010_2015_code1_ct = pd.DataFrame(M1_JR_2010_2015_code1_ct)
M1_JR_2010_2015_code1_ct = M1_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
M1_JR_2010_2015_code1_ct = M1_JR_2010_2015_code1_ct.reset_index()
M1_JR_2010_2015_code1_ct = M1_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})
M5_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('M5')]
M5_JR_2010_2015_code1_ct = M5_JR_2010_2015_code1['요양개시일자'].groupby(M5_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
M5_JR_2010_2015_code1_ct = pd.DataFrame(M5_JR_2010_2015_code1_ct)
M5_JR_2010_2015_code1_ct = M5_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
M5_JR_2010_2015_code1_ct = M5_JR_2010_2015_code1_ct.reset_index()
M5_JR_2010_2015_code1_ct = M5_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})
M7_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('M7')]
M7_JR_2010_2015_code1_ct = M7_JR_2010_2015_code1['요양개시일자'].groupby(M7_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
M7_JR_2010_2015_code1_ct = pd.DataFrame(M7_JR_2010_2015_code1_ct)
M7_JR_2010_2015_code1_ct = M7_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
M7_JR_2010_2015_code1_ct = M7_JR_2010_2015_code1_ct.reset_index()
M7_JR_2010_2015_code1_ct = M7_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})

In [11]:
M_JR_2010_2015_code1_ct = pd.concat([M1_JR_2010_2015_code1_ct, M5_JR_2010_2015_code1_ct['Total_patients'], M7_JR_2010_2015_code1_ct['Total_patients']], axis = 1)
M_JR_2010_2015_code1_ct['First_Total_patients']= M_JR_2010_2015_code1_ct.loc[0:11].sum(axis=1)
M_JR_2010_2015_code1_ct = M_JR_2010_2015_code1_ct[['Month', 'First_Total_patients']]
M_JR_2010_2015_code1_ct

    Month  First_Total_patients
0       1                 65493
1       2                 60632
2       3                 70109
3       4                 71222
4       5                 69347
5       6                 64283
6       7                 71979
7       8                 71379
8       9                 65546
9      10                 68835
10     11                 66457
11     12                 66321

In [12]:
f, ax = plt.subplots(figsize = (10, 15))

# plot the total treat_kind 1
sns.barplot(x = 'Month', y = 'First_Total_patients', data = M_JR_2010_2015_code1_ct)
plt.savefig('근골격계 환자 월별 이용 인원.png', dpi=1000)

In [ ]:
JR_2010_2015['요양개시일자'] = pd.to_datetime(JR_2010_2015['요양개시일자'], format = '%Y%m%d', errors = 'coerce')
L2_JR_2010_2015_code1 = JR_2010_2015[JR_2010_2015['주상병코드'].str.match('L2')]
L2_JR_2010_2015_code1_ct = L2_JR_2010_2015_code1['요양개시일자'].groupby(L2_JR_2010_2015_code1.요양개시일자.dt.month).agg('count')
L2_JR_2010_2015_code1_ct = pd.DataFrame(L2_JR_2010_2015_code1_ct)
L2_JR_2010_2015_code1_ct = L2_JR_2010_2015_code1_ct.rename(columns= {'요양개시일자': 'Total_patients'})
L2_JR_2010_2015_code1_ct = L2_JR_2010_2015_code1_ct.reset_index()
L2_JR_2010_2015_code1_ct = L2_JR_2010_2015_code1_ct.rename(columns = {'요양개시일자': 'Month'})

In [ ]:
f, ax = plt.subplots(figsize = (10, 15))

# plot the total treat_kind 1
sns.barplot(x = 'Month', y = 'Total_patients', data = L2_JR_2010_2015_code1_ct)
plt.savefig('피부염환자 월별 이용 인원.png', dpi=1000)